.navbar {
  position: sticky;
  top: 20px;
  margin-top: 20px;
  padding: 24px 10%;
  z-index: 4002;
  color: white;
  transition: all 450ms;

  .custom-button {
    margin-left: 5px;
  }

  .navbar-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    a {
      width: 60px;
      height: 60px;
      transform: scale(0.4) translateY(-30px) translateX(100px);
      @media (max-width: 768px) {
        transform: scale(0.3) translateX(-220px) translateY(-25px);
      }
    }

    .nav-container {
      overflow: hidden;
      display: flex;
      justify-content: space-around;

      li {
        margin: 0 20px;
        cursor: pointer;
      }
    }
  }
}
