.hide-menu {
  height: 0 !important;
  width: 100%;

  @media (max-height: 500px) {
    width: 0;
  }

  span,
  h1,
  li {
    display: none;
  }
}

.menu {
  overflow-x: hidden;
  position: fixed;
  background-color: #0c0b0b;
  z-index: 9999;
  top: 0;
  overflow-y: auto;
  height: 100%;
  color: white;
  font-size: 20pt;
  flex-direction: column;
  transition: all 800ms;

  h1 {
    animation: fade-down 2000ms;
    margin-bottom: 50px;
    font-family: "Times New Roman", Times, serif;
  }

  span {
    animation: fade-left 2000ms;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 30pt;
  }

  ul {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;

    li {
      padding: 50px 0 20px;
      animation: fade-up 1000ms 100ms;
      a {
        text-decoration: none;
        color: white;
      }
      border-bottom: solid white 1px;
    }
    li:nth-child(2) {
      animation-duration: 1400ms;
    }
    li:nth-child(3) {
      animation-duration: 1700ms;
    }
    li:nth-child(4) {
      animation-duration: 2000ms;
    }
  }

  @media (max-width: 768px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 20pt;
    }
    ul {
      grid-template-columns: 1fr;
      font-size: 15pt;
    }
    span {
      top: 5%;
      right: 10%;
      font-size: 16pt;
    }
  }

  @media (max-height: 500px) {
    h1 {
      margin-top: 500px;
    }
    padding: 50px 0;
  }
}
